html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.btn {
  display: inline-block;
  padding: .5em .85em;
  text-decoration: none;
  font-size: 1.125rem;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  margin-left: 2rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner .img-flex {
  width: 100%;
}

body {
  margin: 0;
}

.wrap {
  display: flex;
  position: absolute;
  bottom: 1em;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 30%;
  transform: traslateY(-50%);
}

.banner h2 {
  font-size: 3rem;
  margin: 0;
  padding-left: 2rem;
}

.banner p {
  font-size: 1.5rem;
  max-width: 45em;
  padding-left: 2rem;
  margin-top: 1rem;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
