html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  display: inline-block;
  padding: .5em .85em;
  text-decoration: none;
  font-size: 1.125rem;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h2 {
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  font-size: 3rem;
  margin: 0;
}

.banner p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.mecha {
  width: 30%;
}

.text {
  width: 65%;
}
